.fans-medal {
  display: flex;
  font-size: 16px;
  text-shadow: none;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  border-radius: 2px;
  margin-right: 8px;
  height: 19px;
  font-weight: normal;
  &-name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4px;
    color: #fff;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  &-level {
    width: 24px;
    background-color: #fff;
    text-align: center;
    color: transparent;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  &-ship-icon {
    margin-left: -12px;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}