@keyframes danmuIn {
  from {
    transform: translateX(30px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.danmu {
  &-item {
    padding: 4px 6px;
    transition: opacity 0.5s;
    user-select: none;
    opacity: 1;
    font-size: 20px;
  }

  &-msg {
    min-height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    animation: 0.5s danmuIn;
    flex-wrap: wrap;
    text-shadow: -2px -2px #000000, -2px -1px #000000, -2px 0 #000000, -2px 1px #000000, -2px 2px #000000,
      -1px -2px #000000, -1px -1px #000000, -1px 0 #000000, -1px 1px #000000, -1px 2px #000000, 0 -2px #000000,
      0 -1px #000000, 0 0 #000000, 0 1px #000000, 0 2px #000000, 1px -2px #000000, 1px -1px #000000, 1px 0 #000000,
      1px 1px #000000, 1px 2px #000000, 2px -2px #000000, 2px -1px #000000, 2px 0 #000000, 2px 1px #000000,
      2px 2px #000000;
    &-name {
      color: #fb7299;
      margin-right: 8px;
      &.with-colon::after {
        content: ':';
        margin-left: 4px;
      }
    }
    &-message {
      color: #fff;
    }
  }

  &-sc {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px;
      border: 1px solid #2A60B2;
      background-color: #EDF5FF;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      &-name {
        color: #666666;
        font-weight: bold;
      }
      &-price {
        color: #7497CD;
        &::before {
          content: '￥';
        }
      }
    }
    &-msg {
      padding: 12px;
      color: #fff;
      background-color: #2A60B2;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }

  &-info {
    min-height: 36px;
    display: flex;
    align-items: center;
    animation: 0.5s danmuIn;
    color: #fff;
    text-shadow: -2px -2px #000000, -2px -1px #000000, -2px 0 #000000, -2px 1px #000000, -2px 2px #000000,
      -1px -2px #000000, -1px -1px #000000, -1px 0 #000000, -1px 1px #000000, -1px 2px #000000, 0 -2px #000000,
      0 -1px #000000, 0 0 #000000, 0 1px #000000, 0 2px #000000, 1px -2px #000000, 1px -1px #000000, 1px 0 #000000,
      1px 1px #000000, 1px 2px #000000, 2px -2px #000000, 2px -1px #000000, 2px 0 #000000, 2px 1px #000000,
      2px 2px #000000;
    
  }
}

.fans-medal {
  display: flex;
  font-size: 16px;
  text-shadow: none;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  border-radius: 2px;
  margin-right: 8px;
  height: 19px;
  &-name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4px;
    color: #fff;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  &-level {
    width: 24px;
    background-color: #fff;
    text-align: center;
    color: transparent;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  &-ship-icon {
    margin-left: -12px;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}